.List {
  background-color: black;
  color: white;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width:50%;
  color: white;
}

.Center {
  align-items:center;
}