* {
  box-sizing: border-box;
}

html {
  height: 100vw;
}

body {
  background-color: black;
  color: white;
}

#root {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}